body{
    background-color: rgb(75,74,74);
    color:antiquewhite;
}
.jumbo-color{
    background-color: rgb(83,81,81);
}
.font-weight-bold{
    font-weight: 600;
}
.form-control{
    background-color: rgb(177,168,168);
}